In [ ]:
!pip install laspy[lazrs,laszip]

In [1]:
import k3d
from k3d.helpers import download
import numpy as np
import laspy 
import pandas as pd

files = ['https://opendata.geoportal.gov.pl/NumDaneWys/DanePomiaroweLAZ/4979/4979_279934_M-34-101-A-c-4-3-1.laz',
         'https://opendata.geoportal.gov.pl/NumDaneWys/DanePomiaroweLAZ/4979/4979_279935_M-34-101-A-c-4-3-2.laz',
         'https://opendata.geoportal.gov.pl/NumDaneWys/DanePomiaroweLAZ/4979/4979_279933_M-34-101-A-c-4-1-4.laz',
         'https://opendata.geoportal.gov.pl/NumDaneWys/DanePomiaroweLAZ/4979/4979_279932_M-34-101-A-c-4-1-3.laz',
         'https://opendata.geoportal.gov.pl/NumDaneWys/DanePomiaroweLAZ/4979/4979_279929_M-34-101-A-c-3-2-4.laz']

In [2]:
data = []
for url in files:
    file = download(url)
    d = laspy.read(file)    
    data.append(pd.DataFrame(d.points.array))

data = pd.concat(data)

In [3]:
data

,X,Y,Z,intensity,bit_fields,raw_classification,scan_angle_rank,user_data,point_source_id,gps_time,red,green,blue
0,57752911,14617039,197973,137,9,3,23,0,56,3.018865e+07,20224,18944,20480
1,57752909,14617139,198013,125,9,3,23,0,56,3.018865e+07,21248,19968,21760
2,57752903,14617252,198019,116,9,4,23,0,56,3.018865e+07,18432,17920,19200
3,57752899,14617358,198046,78,9,4,23,0,56,3.018865e+07,18688,18176,19200
4,57752886,14617508,197976,115,9,2,23,0,56,3.018865e+07,19968,19456,20480
...,...,...,...,...,...,...,...,...,...,...,...,...,...
10712409,57739689,14727096,210450,438,9,3,19,0,47,3.044627e+07,40704,38144,37632
10712410,57739693,14727149,210415,351,9,2,19,0,47,3.044627e+07,38912,36352,35840
10712411,57739697,14727199,210376,321,9,2,19,0,47,3.044627e+07,33792,31232,30720
10712412,57739701,14727251,210345,304,9,3,19,0,47,3.044627e+07,28160,25856,25344
10712413,57739700,14727318,210355,426,9,3,19,0,47,3.044627e+07,24832,22784,22528

In [4]:
xyz = data[['X', 'Y', 'Z']].to_numpy().astype(np.float32) / 1000000
rgb = data[['red', 'green', 'blue']].to_numpy().astype(np.float32) / 50000
rgb = np.sum((np.clip(rgb, 0, 1) * 255.0).astype(np.uint32) * np.array([1, 256, 256 ** 2]), axis=1).astype(np.uint32)

In [5]:
xyz.shape

(55404012, 3)

In [16]:
plot = k3d.plot()
plot.display()

Output()

In [17]:
plot += k3d.points(xyz[::5, :], rgb[::5], shader='3d', point_size=0.0005)

In [18]:
plot.camera = [57.819305635444245,
 14.889169188689477,
 0.21094970995023637,
 57.79127352356057,
 14.727631627415766,
 0.1694874872923474,
 -0.05936908553010498,
 -0.183565449015819,
 0.9812130439465935]